@let currentStep = step();

@switch (currentStep.type) {
  @case (stepType.takeOff) {
    <span>
      <i class="fas fa-rocket me"></i>
      <strong>TakeOff</strong> from
      <strong [style.color]="currentStep.from?.color">{{ currentStep.from?.name }}</strong>
    </span>
  }
  @case (stepType.transitToLowOrbit) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong> low orbit
    </span>
  }
  @case (stepType.transitFromLowToLow) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> from
      <strong [style.color]="currentStep.from?.color">{{ currentStep.from?.name }}</strong> low orbit to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong> low orbit
    </span>
  }
  @case (stepType.transitToSOI) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong> SOI
    </span>
  }
  @case (stepType.transitFromSOIToLow) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> from
      <strong [style.color]="currentStep.from?.color">{{ currentStep.from?.name }}</strong> SOI to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong> low orbit
    </span>
  }
  @case (stepType.transitFromLowToSOI) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> from
      <strong [style.color]="currentStep.from?.color">{{ currentStep.from?.name }}</strong> low orbit to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong> SOI
    </span>
  }
  @case (stepType.transitToKeostat) {
    <span>
      <i class="far fa-dot-circle me"></i>
      <strong>Transit</strong> to
      <strong [style.color]="currentStep.to?.color">Keostationary</strong> orbit
    </span>
  }
  @case (stepType.landing) {
    <span>
      <i class="fas fa-rocket rotate-left me"></i>
      <strong>Landing</strong> on
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong>
    </span>
  }
  @case (stepType.return) {
    <span>
      <i class="fas fa-reply me"></i>
      <strong>Return</strong> trip from
      <strong [style.color]="currentStep.from?.color">{{ currentStep.from?.name }}</strong> to
      <strong [style.color]="currentStep.to?.color">{{ currentStep.to?.name }}</strong>
    </span>
  }
  @case (stepType.total) {
    <span>
      <i class="fas fa-flag me"></i>
      <strong>Total</strong>
    </span>
  }
}
