<div class="d-flex flex-column align-items-stretch">

  <div class="d-none d-md-block text-center">
    <h2 class="text-white">Kerbal Space Program Delta-V Planner</h2>
  </div>
  <div class="d-md-none text-center">
    <h1 class="text-white">KSP Delta-V Planner</h1>
  </div>

  <div class="my-3 align-self-center">
    <a aria-label="help" routerLink="help"
      class="text-white mx-3">
      <i class="fas fa-2x fa-question-circle"></i>
    </a>
    <a aria-label="github" href="https://github.com/LoicViennois/KSP-DeltaV-Planner"
      target="_blank"
      rel="noopener"
      class="text-white mx-3">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a aria-label="about" routerLink="about"
      class="text-white mx-3">
      <i class="fas fa-2x fa-info-circle"></i>
    </a>
  </div>

  <div>
    <label for="fromBody" class="form-label text-white">From:</label>
  </div>

  <div>
    <div ngbDropdown>
      <div id="fromBody"
        class="btn btn-light btn-path-size toggle-right"
        ngbDropdownToggle>
        <div>
          @if (path.from == null) {
            <span class="text-black-50">Select your starting point</span>
          }
          @if (path.from != null) {
            <img width="32" height="32" class="me-2" [src]="path.from.imageUrl" alt="">
          }
          @if (path.from != null) {
            <span>{{ path.from.name }}</span>
          }
        </div>
      </div>
      <div ngbDropdownMenu>
        @for (option of options; track option) {
          <button
            class="text-left"
            ngbDropdownItem
            (click)="pathFromChanged(option)">
            @if (!option.isPlanet) {
              <i class="fas fa-lg fa-caret-right ms-3 me-2"></i>
            }
            <img width="32" height="32" class="me-2" [src]="option.imageUrl" alt="">
            <span>{{ option.name }}</span>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3 text-white">
    <div>
      <button type="button" class="btn btn-link p-0 text-white" (click)="astroPathService.reversePath()" aria-label="Reverse path">
        <i class="fas fa-lg fa-retweet mx-3 clickable"></i>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-link p-0 text-white" (click)="astroPathService.reset()" aria-label="Reset path">
        <i class="fas fa-lg fa-times mx-3 clickable"></i>
      </button>
    </div>
  </div>

  <div>
    <label for="toBody" class="form-label text-white">To:</label>
  </div>

  <div>
    <div ngbDropdown>
      <div id="toBody"
        class="btn btn-light btn-path-size toggle-right"
        ngbDropdownToggle>
        <div>
          @if (path.to == null) {
            <span class="text-black-50">Select your destination</span>
          }
          @if (path.to != null) {
            <img width="32" height="32" class="me-2" [src]="path.to.imageUrl" alt="">
          }
          @if (path.to != null) {
            <span>{{ path.to.name }}</span>
          }
        </div>
      </div>
      <div ngbDropdownMenu>
        @for (option of options; track option) {
          <button
            ngbDropdownItem
            (click)="pathToChanged(option)">
            @if (!option.isPlanet) {
              <i class="fas fa-lg fa-caret-right ms-3 me-2"></i>
            }
            <img width="32" height="32" class="me-2" [src]="option.imageUrl" alt="">
            <span>{{ option.name }}</span>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center text-white my-3" data-bs-theme="dark">
    <div class="form-check form-check-inline mx-2">
      <input class="form-check-input"
        type="checkbox"
        id="landingCheck"
        (change)="astroPathService.pathChanged(path)"
        [disabled]="astroPathService.isKerbinTrip"
        [(ngModel)]="path.landing">
      <label class="form-check-label" for="landingCheck">
        Landing
      </label>
    </div>
    <div class="form-check form-check-inline mx-2">
      <input class="form-check-input"
        type="checkbox"
        id="aerobrakingCheck"
        (change)="astroPathService.pathChanged(path)"
        [(ngModel)]="path.aerobraking">
      <label class="form-check-label" for="aerobrakingCheck">
        Aerobraking
      </label>
    </div>
    <div class="form-check form-check-inline mx-2">
      <input class="form-check-input"
        type="checkbox"
        id="returnCheck"
        (change)="astroPathService.pathChanged(path)"
        [disabled]="astroPathService.isKerbinTrip"
        [(ngModel)]="path.return">
      <label class="form-check-label" for="returnCheck">
        Return
      </label>
    </div>
  </div>

  @if (steps.length > 0) {
    <div>
      <ul class="list-group">
        @for (step of steps; track step) {
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            (mouseenter)="stepSelectionService.selectionChanged(step)"
            (mouseleave)="stepSelectionService.selectionChanged(null)">
            <ksp-step-message [step]="step"></ksp-step-message>
            @if (landingInAtmosphere(step)) {
              <div
                class="badge badge-dv"
                [class.text-bg-secondary]="path.to.canLand"
                [class.text-bg-danger]="!path.to.canLand"
                [popoverTitle]="!path.to.canLand ? 'Landing here might not be a good idea...': ''"
                ngbPopover="Aerobraking is possible"
                triggers="mouseenter:mouseleave"
                placement="top-right">
                @if (!path.to.canLand) {
                  <i class="fas fa-ban me-2"></i>
                }
                <i class="fas fa-cloud-download-alt me-2"></i>
                <ksp-dv-pill [step]="step"></ksp-dv-pill>
              </div>
            }
            @if (!landingInAtmosphere(step)) {
              <div
                class="badge text-bg-secondary badge-dv">
                <ksp-dv-pill [step]="step"></ksp-dv-pill>
              </div>
            }
          </li>
        }
        @if (path.total) {
          <li
            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"
            (mouseenter)="stepSelectionService.selectionChanged(path.total)"
            (mouseleave)="stepSelectionService.selectionChanged(null)">
            <ksp-step-message [step]="path.total"></ksp-step-message>
            <div class="badge text-bg-primary badge-dv">
              <ksp-dv-pill [step]="path.total"></ksp-dv-pill>
            </div>
          </li>
        }
      </ul>
    </div>
  }

</div>
