.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default !important;
}

.btn-path-size {
  min-height: 48px;
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

.toggle-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-dv {
  margin-left: 0.5rem;
  float: right;
  font-size: 0.9rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
